body{
    background-image: linear-gradient(to right, cyan , purple);
}

.container {
    border-radius: 20px;
}

h1 {
    padding-top: 15px;
    margin-top: 15px;
    font-size: 42px;
    font-weight: bold;
}

.card {
    margin-top: 50px;
    background-color: #fff;
    width: 600px;
    height: auto;
    padding-bottom: 25px;
}

.taskInput {
    width: 100%;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid purple;
}

.taskGroup {
    width: 100%;
    margin: 10px;
    padding: 10px;
}

.taskItem {
    width: 100%;
    padding: 15px;
}

.list-group-item {
    background-color: purple;
    color: #fff;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}

.close {
    padding: 10px;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: purple;
    background-color: #fff;
    filter: alpha(opacity=25);
    opacity: 1;
    margin: 5px 5px 5px 10px;
    border-radius: 10px;
    border: 2px solid #fff;
}

.close:hover {
    padding: 10px;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    background-color: purple;
    filter: alpha(opacity=25);
    opacity: 1;
    margin: 5px 5px 5px 10px;
    border-radius: 10px;
    border: 2px solid #fff;
}